# Overview

- https://stackoverflow.com/questions/588741/can-a-foreign-key-reference-a-non-unique-index

# Imports

In [ ]:
import pandas as pd
import sqlalchemy as sa

In [ ]:
%run sql_magic.ipynb

# Start database

In [ ]:
%run start_db.ipynb

In [ ]:
engine = sa.create_engine(DB_URL, connect_args={'options': '-csearch_path=University'})

In [ ]:
engine.table_names()

In [ ]:
DB_URL

# Exercises

## SQL Data Definition Language: Solutions

### 1. Which of the following table definitions are valid? Where invalid, explain why.

In [ ]:
%%sql
drop table if exists Stuff1;

create table Stuff1 (
    name text primary key,
    number int,
    rating float not null
);

In [ ]:
!psql {DB_URL} -c "\d+ University.Stuff1;"

In [ ]:
%%sql
create table Stuff2 (
    name varchar(25) primary key,
    number int primary key,
    rating float
);

In [ ]:
!psql {DB_URL} -c "\d+ University.Stuff2;"

In [ ]:
%%sql
create table Stuff3 (
    name text primary key,
    number int unique default 0,
    rating float
);

In [ ]:
!psql {DB_URL} -c "\d+ University.Stuff3;"

In [ ]:
%%sql
create table Stuff4 (
    name char(30) unique,
    number int unique,
    rating real
);

In [ ]:
!psql {DB_URL} -c "\d+ University.Stuff4;"

### 2. Suppose we have defined this table:

In [ ]:
%%sql
drop table if exists fluff;

create table Fluff (
    this int,
    that int,
    other text unique,
    primary key (this, that)
);

In [ ]:
!psql {DB_URL} -c "\d+ University.Fluff;"

In [ ]:
%%sql
-- 1
truncate fluff;
insert into Fluff values (1, 2, 'my'), (1, 2, 'night');
select * from fluff;

In [ ]:
%%sql
-- 2
truncate fluff;
insert into Fluff values (11, 22, 'twinkle'), (33, 44, 'twinkle');
select * from fluff;

In [ ]:
%%sql
-- 3
truncate fluff;
insert into Fluff values (100, 5, 'night'), (100, 10, 'my');
select * from fluff;

In [ ]:
%%sql
-- 4
truncate fluff;
insert into Fluff values (null, null, 'oh');
select * from fluff;

In [ ]:
%%sql
-- 5
truncate fluff;
insert into Fluff values (5, null, 'uh');
select * from fluff;

In [ ]:
%%sql
-- 6
truncate fluff;
insert into Fluff values (null, 20, 'a'), (null, 21, 'b');
select * from fluff;

In [ ]:
%%sql
-- 7
truncate fluff;
insert into Fluff values (80, 81, null);
select * from fluff;

In [ ]:
%%sql
-- 8
truncate fluff;
insert into Fluff values (90, 91, null), (92, 93, null);
select * from fluff;

In [ ]:
%%sql
-- 9
truncate fluff;
insert into Fluff values (100, 5, 'night'), (100, 10, 'my');
select * from fluff;

### 3. Again, suppose we have defined this table:

In [ ]:
%%sql
drop table if exists fluff cascade;

create table Fluff (
    this int,
    that int,
    other text unique,
    primary key (this, that)
);

In [ ]:
!psql {DB_URL} -c "\d+ University.Fluff;"

In [ ]:
%%sql
drop table if exists Nonsense1;

create table Nonsense1 (
    a int,
    b int,
    foreign key (b) references Fluff(this)
);

In [ ]:
%%sql
drop table if exists Nonsense2;

create table Nonsense2 (
    a int,
    b text references Fluff(other)
);

In [ ]:
!psql {DB_URL} -c "\d+ University.Nonsense2;"

In [ ]:
%%sql
drop table if exists Nonsense2;

create table Nonsense2 (
    a int,
    b text,
    foreign key (b) references Fluff(other)
);

In [ ]:
!psql {DB_URL} -c "\d+ University.Nonsense2;"

In [ ]:
%%sql
drop table if exists Nonsense3;

create table Nonsense3 (
    a int,
    b int,
    c int,
    foreign key (b, c) references Fluff
);

In [ ]:
!psql {DB_URL} -c "\d+ University.Nonsense3;"

In [ ]:
%%sql
drop table if exists Nonsense4;

create table Nonsense4 (
    a int references Fluff(blah),
    b int
);

### 4. Can you think of any other ways that an attempt to define a foreign key could fail?

# Scrap

In [ ]:
%%bash -s {DB_URL}
psql $1 << EOF
set search_path to university;
\d+ university.stuff1;
EOF