# Introduction

## Useful resources


### Stanford Databases Course

- https://lagunita.stanford.edu

# Slides

...

# Exercises

## Relational Algebra Exercises

### Schema

![](tutorial_3/rae-schema.png)

### Integrity constraints

<img src="tutorial_3/rae-integrity.png" width="80%" align="left">

**1. Courses at the 400-level cannot count for breadth.**

In [ ]:
#```
\select_{400 <= cNum < 500 and breadth} Courses = Null
```

**2. CSC490 can only be offered at the same time as CSC454.**

In [ ]:
1

In [ ]:
#```
CSC490Offered(term) :=
    \project_{term}
    \select_{dept = 'csc' and cNum = 490}
    Offered
    
CSC454Offered(term) :=
    \project_{term}
    \select_{dept = 'csc' and cNum = 454}
    Offered

CSC490Offered \difference CSC454Offered = null
```

### Queries

**1. Student number of all students who have taken csc343.**

In [ ]:
#```
\project_{sID}
\select_{dept = 'csc' and cNum = 343}
(Took \natural_join Offering)
```

**2. Student number of all students who have taken csc343 and earned an A+ in it.**

In [7]:
#```
csc343Masters(sID) :=
    \project_{sID}
    \select_{dept = "csc" and cNum = 343 and grade > 90} 
    (Took \natural_join Offering)
```

**3. The names of all such students.**

In [ ]:
#```
\project_{firstName, surName} (csc343Masters \natural_join Student)
```

**4. The names of all students who have passed a breadth course with Professor Picky.**

In [ ]:
#```
\project_{firstName, surName}
\select_{intructor = "Professor Picky" and breadth}
(Student \natural_join Took \natural_join Offering)
```

**5. sID of all students who have earned some grade over 80 and some grade below 50.**

In [ ]:
#```
\project_{sID} \select_{grade > 80} Took
\intersect
\project_{sID} \select_{grade < 50} Took
```

**6. Terms when Cook and Pitassi were both teaching something.**

**7. Terms when either of them was teaching csc463.**

**8. sID of students who have earned a grade of 85 or more, or who have passed a course taught by Atwood.**

**9. Terms when csc369 was not offered.**

```
\project_{term} Offering - 
\project_{term} \select_{dept = 'csc' and cNum = 369} Offering
```

In [ ]:
#```
\project_{term} Offering - \project_{term} \select_{dept = 'csc' and cNum = 343} Offering
```

**10. Department and course number of courses that have never been offered.**

```
\project_{dept, cNum} Courses - \project_{dept, cNum} Offering
```

In [ ]:
#```
\project_{dept, cNum} Courses - \project_{dept, cNum} Offering
```

**11. SIDs and surnames of all pairs of students whoâ€™ve taken a course together.**

```
StudentTookCourse(sID, surName, oID) :=
    \project_{sID, surName, oID}
    (Student \natural_join Took)
    
Answer(sID1, sID2, surName1, surName2) :=
    \project_{s1.sID, s2.sID, s1.surName, s2.surName}
    \select_{s1.oID = s2.oID and s1.sID < s2.sID}
    (\rename_{s1} StudentTookCourse \product 
     \rename_{s2} StudentTookCourse)
```

In [ ]:
#```
NameAndCourse(sID, surName, oID) := 
    \project_{sID, surName, oID}
    (Student \natural_join Tool)

AllTakers =
Answer(sID1, sID2, surName1, surName2} :=
    \project_{s1.sID, s2.sID, s1.surName, s2.surName} 
    \select_{s1.oID = s2.oID}
    (\rename_{s1} NameAndCourse \product \rename_{s2} NameAndCourse)
```

**12. sID of student(s) with the highest grade in csc343, in term 20099.**

In [ ]:
#```
TookCourse(sID, grade) :=
    \project_{sID, grade)
    \select_{dept = "csc" and cNum - 343 and term = 20099}
    (Took \natural_join Offering)

NotHightestGrade(sID) :=
    \project_{t1.sID}
    \select_{t1.grade < t2.grade}
    (\rename_{t1} TookCourse \product \rename_{t2} TookCourse)

Answer(sID) := \project_{sID} TookCourse - NotHightestGrade
```

In [ ]:
#```
AllTakers(sID, grade) :=
    \project_{sID, grade}
    \select_{dept = "csc" and cNum = 343}
    (Took \natural_join Offering)

NotTop(sID) :=

Top(sID) :=
    \project_{sID}
    (AllTakers - 
```

**13. sID of students who have a grade of 100 at least twice.**

In [ ]:
#```
AtLeastTwice(sID) :=
    \project_{t1.sID}
    \select_{
        t1.sID = t2.sID
        and t1.oID < t2.oID
        and t1.grade = t2.grade = 100
    }
    (\rename_{t1} Took \product \rename_{t2} Took)
```

**14. sID of students who have a grade of 100 exactly twice.**

In [ ]:
#```
AtLeastThrice(sID) :=
    \project_{t1.sID}
    \select_{
        t1.sID = t2.sID = t3.sID
        and t1.oID < t2.oID < t3.oID
        and t1.grade = t2.grade = t3.grade = 100
    }
    (\rename_{t1} Took \product \rename_{t2} Took \product \rename_{t3} Took)


Answer(sID) := AtLeastTwice \difference AtLeasetThrice
```

**15. sID of students who have a grade of 100 at most twice.**

All students or only students who ever took a course?

In [ ]:
#```
Answer(sID) := \project_{sID} Took \difference AtLeastThrice
```